<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824322357385-1tocfm12ntkg4se3j0qa1oskpngdi9tu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824322357385-1tocfm12ntkg4se3j0qa1oskpngdi9tu</string>
	<key>API_KEY</key>
	<string>AIzaSyAcuf1a2FtGxhHe_I5j099wcr4o8QLzYVA</string>
	<key>GCM_SENDER_ID</key>
	<string>824322357385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buyingmark</string>
	<key>PROJECT_ID</key>
	<string>buyingmark-2bdd7</string>
	<key>STORAGE_BUCKET</key>
	<string>buyingmark-2bdd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824322357385:ios:e42d442657b4dcc9eaee58</string>
</dict>
</plist>